.contact-form {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}

.contact-form > input {
    margin-bottom: 15px;
}

.contact-form button {
    margin-top: 20px;
    align-self: flex-end;
}