.icon-template {
    display: flex;
    cursor: default;

    color: #696969
}

.icon-template > a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;

    transition: 250ms;
}


.icon-template > a > i {
    color: inherit;
    font-size: inherit;
}

.icon-template__label {
    margin-left: 8px;
}


.app--noturne .icon-template {
    color: white;
}