.section__title > h2 {
    color: #6556DF;
    font-weight: 800;
    font-size: 38px;
}

.section__title > h3 {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 300;
}

.section__content {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 36px;
}

.content--noturne .section__title > h2,
.content--noturne .section__title > h3,
.content--noturne .section__content
{
    color: white;
}