.section {
    margin-bottom: 60px;
}

.section__title > h2 {
    color: #6556DF;
    font-weight: 500;
    font-size: 38px;
}

.section__title > h3 {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 300;
}

.section__content {
    margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
}

.content--noturne .section__title > h2,
.content--noturne .section__title > h3
{
    color:  #7070FF;
}

.content--noturne .section__content {
    color: white;
}

@media screen and (max-width: 768px) {
    .section {
        margin-top: 20px;
        margin-bottom: 120px;
    }
    
    .section__content {
        margin-top: 30px;
        font-size: 22px;
        line-height: 36px;
    }
}