.showcase {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

@media screen and ( max-width: 768px ) {
    .showcase {
        grid-template-columns: 1fr !important;
    }
}